<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="resource://content-accessible/plaintext.css">
</head>
<body>
    <style>
        pre {
            white-space: pre-line !important;
        }
    </style>
    <pre>
        <%= metrics.scoresaber %>
    </pre>
</body>
</html>